/* Images */

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}

/* Nav */

.nav {
    /* position: fixed; */
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    text-align: center;
}

ul.menu-list {
    padding-left: 0px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul.menu-list li {
    display: inline;
    margin-right: 1em;
}

ul.menu-list a .active {
    font-weight: bold;
}

body {
    height: 100%;
}

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

ul.contacts-list li {
    display: inline;
}

/* customizing defaults */

blockquote {
    font-style: italic;
    padding-left: 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main {
    padding-bottom: 10vh;
}

/*Layout*/

.wrapper {
    /* display:grid; */
    /* grid-template-rows: auto 1fr auto; */
}

/* .footer{
    flex: 1;
}
.nav{
    flex: 1;
} */

/* Media Queries */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .wrapper {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .wrapper {
        width: 700px;
    }
}

/* fonts */

.default-pages {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.about, .footer, .header, .nav, .intro {
    font-family: 'Courier New', 'Helvetica', 'Arial', sans-serif;
}

.about p, p.intro  {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia'
}

/* Capitalizes first letter for headings h1-h6 */
h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter {
    text-transform: capitalize;
}

code[class*="language-"], pre[class*="language-"] {
    font-family: courier!important;
}