<footer class="footer">
    <nav>
        <ul class="contacts-list">
            <li>
                {% if site.owner.email %}<a
                    href="mailto:{{ site.owner.email }}?Subject=Hello&body=Hi {{ site.owner.name }}, %0D%0A Was reading your website, and I've got a question..."
                    class="author-social" target="_blank" rel="noopener noreferrer">
                    <i class="far fa-envelope"></i>
                    E-mail</a>{% endif %} <span></span>
            </li>
            <li>
                {% if site.owner.twitter %}<a
                    href="https://twitter.com/{{ site.owner.twitter }}" target="_blank" rel="me noopener noreferrer">
                    <i class="fab fa-twitter"></i> Twitter</a>{% endif %}
            </li>
            <li>
                {% if site.owner.github %}<a
                    href="https://github.com/{{ site.owner.github }}" target="_blank" rel="me noopener noreferrer">
                    <i class="fab fa-github"></i> GitHub</a>{% endif %}
            </li>
            <li>
                {% if site.owner.linkedin %}<a
                    href="https://uk.linkedin.com/in/{{ site.owner.linkedin }}" target="_blank"
                    rel="me noopener noreferrer"><i class="fab fa-linkedin-in"></i> Linkedin</a>{%
                endif %}
            </li>

            <li>
                {% if site.owner.instagram %}<a
                    href="https://www.instagram.com/{{ site.owner.instagram }}" target="_blank"
                    rel="me noopener noreferrer"><i class="fab fa-instagram"></i> Instagram</a>{%
                endif %}
            </li>
            <li>
                {% if site.owner.facebook %}<a
                    href="https://www.facebook.com/{{ site.owner.facebook }}" target="_blank"
                    rel="me noopener noreferrer"><i class="fab fa-facebook"></i> Facebook</a>{%
                endif %}
            </li>
            <li>
                {% if site.owner.youtube %}<a
                    href="https://www.youtube.com/c/{{ site.owner.youtube }}" target="_blank"
                    rel="me noopener noreferrer"><i class="fab fa-youtube"></i> YouTube</a>{%
                endif %}
            </li>
            <li>
                {% if site.owner.vimeo %}<a
                    href="https://vimeo.com/{{ site.owner.vimeo }}" target="_blank"
                    rel="me noopener noreferrer"><i class="fab fa-vimeo-v"></i> Vimeo</a>{%
                endif %}
            </li>
            <li>
                {% if site.owner.imdb %}<a
                    href="https://www.imdb.com/name/{{ site.owner.imdb }}/" target="_blank"
                    rel="me noopener noreferrer"><i class="fab fa-imdb"></i> IMDb</a>{%
                endif %}
            </li>
            <li>
                <a href="/press.html"><i class="fas fa-newspaper"></i> Press</a>
            </li>
        </ul>
    </nav>
</footer>