<footer class="footer">
    <nav>
        <ul class="contacts-list">
            {% if site.owner.email %}
            <li>
                <a href="mailto:{{ site.owner.email }}?Subject=Hello&body=Hi {{ site.owner.name }}, %0D%0A Was reading your website, and I've got a question..."
                    class="author-social" target="_blank" rel="noopener noreferrer">
                    <i class="far fa-envelope"></i>
                    E-mail</a>
            </li>
            {% endif %}
            {% for profile in site.profiles %}{% if profile.inFooter %}
            <li>
                <a href="{{ profile.url }}" target="_blank" rel="me noopener noreferrer">
                    <i class="{{ profile.icon }}"></i> {{ profile.label }}</a>
            </li>
            {% endif %}{% endfor %}
            <li>
                <a href="{{ site.baseurl }}/press.html"><i class="fas fa-newspaper"></i> Links</a>
            </li>
        </ul>
    </nav>
</footer>