<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
 styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- {% if page.path contains '_posts' or page.title == 'About' %} {% else %} checked{% endif %} -->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>

    {{ page.title }}
  </div>

  <nav class="sidebar-nav">

    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/"><i
        class="fa fa-user" aria-hidden="true"></i> About</a>

    <a class="sidebar-nav-item" disabled="true">

      <a class="sidebar-nav-item" href="https://pietropassarelli.com/photos/" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-camera-retro" aria-hidden="true"></i>Photos
      </a>

      {% for item in site.categories %}
      <a class="sidebar-nav-item{% if page.url == item %} active{% endif %}" href="/categories/{{  item }}">
        {% if item == 'ttqf' %}
        <i class="fa fa-list-alt" aria-hidden="true"></i> Tips Tricks & Quick Fix
        {% elsif item == 'video' %}
        <i class="fa fa-film" aria-hidden="true"></i> {{ item | capitalize }}
        {% elsif item == 'tech' %}
        <i class="fa fa-laptop" aria-hidden="true"></i> {{ item | capitalize }}
        {% elsif item == 'blog' %}
        <i class="fa fa-pencil" aria-hidden="true"></i> {{ item | capitalize }}
        {% endif %}
      </a>
      {% endfor %}

      <a class="sidebar-nav-item" disabled="true">

      </a>
      {% if site.owner.email %}<a class="icon-envelope  sidebar-nav-item"
        href="mailto:{{ site.owner.email }}?Subject=Hello&body=Hi {{ site.owner.name }}, %0D%0A Was reading your website, and I've got a question..."
        class="author-social" target="_blank" rel="noopener noreferrer"><i class="icon-mail"></i><i
          class="fa fa-envelope-o" aria-hidden="true"></i>
        E-mail</a>{% endif %} <span></span>


      {% if site.owner.twitter %}<a class="icon-twitter  sidebar-nav-item "
        href="https://twitter.com/{{ site.owner.twitter }}" target="_blank" rel="noopener noreferrer"> <i
          class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>{% endif %}

      {% if site.owner.github %}<a class="icon-github sidebar-nav-item "
        href="https://github.com/{{ site.owner.github }}" target="_blank" rel="noopener noreferrer"><i
          class="fa fa-github" aria-hidden="true"></i> GitHub</a>{% endif %}

      {% if site.owner.linkedin %}<a class="icon-linkedin sidebar-nav-item "
        href="https://uk.linkedin.com/in/{{ site.owner.linkedin }}" target="_blank" rel="noopener noreferrer"><i
          class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a>{% endif %}





</div>