
<!-- <div class="row">
  <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">  -->

<!-- <h5>{{ site.owner.name }} {{ site.owner.last_name }}</h5> -->

<!-- {% if site.owner.avatar %} -->

<!-- {% endif %}  -->



<ul class="nav nav-pills nav-stacked" style="list-style-type: none">
<li>{% if site.owner.email %}<a class="icon-envelope" href="mailto:{{ site.owner.email }}?Subject=Hello&body=Hi {{ site.owner.name }}, %0D%0A Was reading your website, and I've got a question..." class="author-social" target="_blank"><i class="icon-mail"></i> e-mail</a>{% endif %} <span ></span></li>


{% if site.owner.phone %}<li><a class="icon-phone" href="tel:{{ site.owner.phone }}"> Phone</a></li>{% endif %}


{% if site.owner.skype %}<li><a  class="icon-skype" href="skype:{{ site.owner.skype }}?call"> Skype</a></li>{% endif %}


{% if site.owner.facebook %}<li><a class="icon-facebook" href="https://www.facebook.com/{{ site.owner.facebook }}"  target="_blank"> Facebook</a></li>{% endif %}



{% if site.owner.linkedin %}<li><a class="icon-linkedin" href="http://uk.linkedin.com/in/{{ site.owner.linkedin }}"  target="_blank"> Linkedin</a></li>{% endif %}

{% if site.owner.twitter %}<li><a class="icon-twitter" href="https://twitter.com/{{ site.owner.twitter }}"  target="_blank"> Twitter</a></li>{% endif %}



{% if site.owner.google_plus %}<li><a  class="icon-googleplus" href="https://plus.google.com/{{ site.owner.google_plus }}"  target="_blank"> Google +</a></li>{% endif %}


{% if site.owner.github %}<li><a class="icon-github" href="https://github.com/{{ site.owner.github }}"  target="_blank"> GitHub</a></li>{% endif %}



{% if site.owner.vimeo %}<li><a class="icon-vimeo" href="https://vimeo.com/{{ site.owner.vimeo }}"  target="_blank"> Vimeo</a></li>{% endif %}

{% if site.owner.youtube %}<li><a class="icon-youtube" href="https://www.youtube.com/user/{{ site.owner.youtube }}"  target="_blank"> YouTube </a></li>{% endif %}

{% if site.owner.flickr %}<li><a class="icon-flickr" href="http://www.flickr.com/photos/{{ site.owner.flickr }}"  target="_blank"> Flickr</a></li>{% endif %}


{% if site.owner.talent_manager %}<li><a class="glyphicon glyphicon-user" href="https://www.thetalentmanager.co.uk/people/{{ site.owner.talent_manager }}"  target="_blank">The Talent Manager</a></li>{% endif %}



</ul>

<!--  </div> 

  </div> --> <!-- row -->

