---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }} </h1>
  <span class="post-date">{{ page.date | date_to_string }}  

{% if page.duration %}
| <strong> Duration:</strong> {{ page.duration }}
{% endif %} 
</span>

 {% if page.github %}<small><a href="https://github.com/{{ page.github }}"  target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>,</small>{% endif %}

<!-- optional gitbook link -->
{% if page.gitbook %}<small><a  href="{{ page.gitbook }}"  target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitBook</a>,</small>{% endif %}

 <!-- project page -->
{% if page.link %}<small>
 <a href="{{ page.link }}"  target="_blank">
 <i class="fa fa-external-link" aria-hidden="true"></i>
 	Url</a>
</small>
{% endif %}

{% if page.youtube %}<small>| 
 <a href="https://youtu.be/{{ page.youtube }}"  target="_blank">
 	<i class="fa fa-youtube" aria-hidden="true"></i>
 	Youtube </a>
</small>
{% endif %}

{% if page.vimeo  %}<small>| 
 <a href="https://vimeo.com/{{ page.vimeo }}"  target="_blank">
 <i class="fa fa-vimeo-square" aria-hidden="true"></i> 
  Vimeo</a>
</small>
{% endif %}

<br>


<!-- Stack -->
 {% if page.tech %}<small><strong>Stack: </strong>
	{% for t in page.tech %}
	    {{ t }},
	{% endfor %}
	</small>
{% endif %}
<br>

{{ page.description }}



 <hr>


  {{ content }}
</div>

