<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="{%if title == 'About'%}about{% else %}default-pages{%endif%}">
  <div class="container">
    <div class="wrapper">
      <header class="header">
        {{ site.title }} <small>{{ site.tagline }} </small>
        
        {% include nav.html %}
      </header>
      <main class="main"> 
        {{ content }}
      </main>
    
      {% include footer.html %}
    </div>
  </div>
  {% include syntax-highlight.html %}
</body>

</html>